$color_white: #FFFCEF
$color_deep_blue: #1A517B
$color_light_blue: #3F9CCD
$color_yellow: #FBC439
$color_very_white: #fff
$color_black: #2D2D3A
$color_green: #8CC554
$color_blue: #58B8E1
$color_red: #C54C4D
$color_brown: #483B3B
*
    //border: 1px solid pink
    user-select: none
    text-align: center
    margin: 0 auto

html,body
    background-color: $color_white !important
    width: 100%
    height: 100%
    padding: 0px
    margin: 0px

.container
    background-color: $color_white
    //border: 2px solid red
    // position: absolute
    // left: 50%
    // top: 50%
    // transform: translateX(-50%) translateY(-50%)
    max-width: 400px
    margin: 0 auto
    padding: 3px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    .logo
        width: 25%
        margin: 40px 0px 40px 0px

    .playernumpic
        width: 60%
        min-width: 300px

    .flexbox
        display: flex
        align-items: center
        margin: 10px 0px 10px 0px
        .count
            user-select: none
            display: flex
            width: 120px
            padding: 8px
            border-radius: 25px
            background-color: $color_brown
            transition: 0.5s
            position: relative
            left: 0px
            font-size: 20px
            .num
                color: $color_white
            .minus,.add
                cursor: pointer
                width: 30px
                height: 30px
                border-radius: 50%
                background-color: $color_white
                color: $color_brown
                text-align: center
                line-height: 25px
                font-weight: 700
    .text
        font-size: 15px

    #nickname
        margin: 10px 0px 10px 0px
        border-radius: 5px
        border: 1px solid $color_yellow
        background-color: #fffdf3
        padding: 5px
        &:hover
            box-shadow: 0px 2px 3px $color_yellow

    .start
        margin: 10px 0px 10px 0px
        background-color: $color_deep_blue
        color: $color_white
        padding: 8px
        border-radius: 5px
    .footer
        margin: 7px 0px 30px 0px
        display: flex
        .rank ,.rule,.contact
            cursor: pointer
            font-size: 15px
            color: $color_brown
            border-bottom: 2px solid $color_brown
            margin: 5px
// 遊戲規則
.rulepupup
    cursor: pointer
    background-color: transparent !important
    color: $color_brown !important
    border: 1px solid  transparent !important
    border-radius: 0px !important
    border-bottom: 2px solid $color_brown !important
    padding: 3px !important
    box-shadow: none !important

.modal-content
    background-color: $color_white !important
    border-radius: 10px !important
    padding: 10px
    .btn-close
        position: absolute
        top: 20px
        right: 20px
    .collapsed
        background-color: $color_white !important
    .accordion-button
        box-shadow: none !important
    .accordion-button:not(.collapsed)
        color: $color_white
        background-color: $color_deep_blue
    .accordion-body
        background-color: $color_white !important
    ul ,li 
            text-align: left !important
    li.none
        list-style-type: none

    .title
        font-size: 20px
        font-weight: 500
        padding: 5px
        text-align: center
// 遊戲規則


// 留言板

