$color_white: #FFFCEF
$color_deep_blue: #1A517B
$color_light_blue: #3F9CCD
$color_yellow: #FBC439
$color_very_white: #fff
$color_black: #2D2D3A
$color_green: #8CC554
$color_blue: #58B8E1
$color_red: #C54C4D
$color_brown: #483B3B
*
    //border: 1px solid pink
    user-select: none
    text-align: center
    margin: 0 auto
    font-family: "Kosugi Maru",'Noto Sans TC',sans-serif
    // font-family: 'Noto Sans TC', sans-serif;
    // font-family: "HanaMinA",花園明朝體,"jf-openhuninn","PingFang TC", 黑體-繁, "Heiti TC", 蘋果儷中黑, "Apple LiGothic Medium", 微軟正黑體, "Microsoft JhengHei", Roboto, sans-serif

html,body
    background-color: $color_white !important
    width: 100%
    height: 100%
    padding: 0px
    margin: 0px

.container
    background-color: $color_white
    // border: 2px solid red
    // position: absolute
    // left: 50%
    // top: 50%
    // transform: translateX(-50%) translateY(-50%)
    max-width: 400px
    margin: 0 auto
    padding: 3px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    .logo
        width: 25%
        margin: 40px 0px 40px 0px

    .playernumpic
        width: 60%
        min-width: 300px

    .flexbox
        display: flex
        align-items: center
        margin: 10px 0px 10px 0px
        .count
            user-select: none
            display: flex
            width: 120px
            padding: 10px
            border-radius: 50px
            background-color: $color_brown
            transition: 0.5s
            position: relative
            left: 0px
            font-size: 20px
            .num
                color: $color_white
                padding: 0px 3px 0px 3px
            .minus,.add
                cursor: pointer
                width: 30px
                height: 30px
                border-radius: 50%
                background-color: $color_white
                color: $color_brown
                text-align: center
                line-height: 28px
                font-weight: 700
    .text
        font-size: 15px

    #nickname
        margin: 15px 0px 15px 0px
        // border-radius: 5px
        // border: 1px solid $color_brown
        width: 40%
        border: none
        border-bottom: 2px solid $color_brown !important
        background-color: transparent
        padding: 5px
        color: $color_green
        &:focus
            outline: 0
            -webkit-box-shadow: none !important
            -moz-box-shadow: none !important
            box-shadow: none !important

    .start
        cursor: pointer
        margin: 5px 0px 10px 0px
        background-color: #2974AA
        color: $color_white
        padding: 10px 50px 10px 50px
        border-radius: 50px
        font-size: 18px
        letter-spacing: 3px
        &:hover
            background-color: $color_light_blue

.footer
    max-width: 400px
    margin: 0 auto
    display: flex
    justify-content: center

// 遊戲規則
.rulepupup, .openbtn ,.rank
    cursor: pointer
    background-color: transparent !important
    color: $color_brown !important
    border: none !important
    border-radius: 0px !important
    border-bottom: 2px solid $color_brown !important
    padding: 3px !important
    box-shadow: none !important
    margin: 0px 10px 0px 10px !important

.modal-content
    background-color: $color_white !important
    border-radius: 10px !important
    padding: 10px
    .btn-close
        position: absolute
        top: 20px
        right: 20px
    .collapsed
        background-color: $color_white !important
    .accordion-button
        box-shadow: none !important
    .accordion-button:not(.collapsed)
        color: $color_white
        background-color: $color_deep_blue
    .accordion-body
        background-color: $color_white !important
    ul ,li
        text-align: left !important
    li.none
        list-style-type: none

    .title
        font-size: 20px
        font-weight: 500
        padding: 5px
        text-align: center
// 遊戲規則

// 留言板
#messageTop
    display: block
    margin: 0 auto
    margin: 10px !important
    padding: 5px !important
    border-bottom: 2px solid $color_brown
    // box-shadow: 0px 2px 5px rgba($color_brown,0.5) 
#messangeArea
    padding: 5px !important
    margin: 0px !important

.mscontainer
    background-color: $color_white
    //border: 1px solid pink
    width: 100%
    margin: 0 auto
    padding: 3px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
.flexbox
    display: flex
    .category
        cursor: pointer
        width: 110px
        background-color: $color_white
        border-radius: 5px
        border: 1px solid $color_brown
        padding: 5px
        margin: 10px
        &:focus
            outline: 0 !important
            -webkit-box-shadow: none !important
            -moz-box-shadow: none !important
            box-shadow: none !important
    .nickName
        margin: 10px
        border-radius: 5px
        border: 1px solid $color_brown
        background-color: #fffdf3
        padding: 5px
        color: $color_green
        width: 200px
        &:focus
            outline: 0 !important
            -webkit-box-shadow: none !important
            -moz-box-shadow: none !important
            box-shadow: none !important
textarea.content
    color: $color_brown
    width: 95%
    margin: 5px 0px 5px 0px
    border-radius: 5px
    border: 1px solid $color_brown
    background-color: #fffdf3
    padding: 5px
    &:focus
        outline: 0 !important
        -webkit-box-shadow: none !important
        -moz-box-shadow: none !important
        box-shadow: none !important

.savebtn
    cursor: pointer
    margin: 5px 0px 10px 0px
    background-color: #2974AA
    color: $color_white
    padding: 10px 50px 10px 50px
    border-radius: 50px
    font-size: 18px
    letter-spacing: 3px
    &:hover
        background-color: $color_light_blue

.filter
    margin: 10px 0px 10px 0px
    width: 100%
.filterbtn
    border: none !important
    background-color: $color_white !important
    color: $color_brown !important
    padding: 5px 10px 5px 10px !important
    margin: 5px !important
    border-radius: 0px !important
    &:hover
        border-bottom: 2px solid $color_brown !important
.list
    width: 100%
    margin: 0px
    padding-left: 5px !important
    display: flex
    flex-direction: column-reverse
    li
        width: 100%
        list-style: none
        text-align: left
        font-size: 15px
        padding: 10px
        color: $color_brown
        word-wrap: break-word
        &:hover
            background-color: rgba($color_yellow,0.2)
            border-bottom: 1px solid rgba($color_brown,0.7)
        &::before
            content: ''
            display: inline-block
            height: 30px
            width: 24px
            margin: 0px 10px 0px 10px
            background-image: url("svg/icon.svg")
            background-size: cover
