$color_white: #FFFCEF
$color_deep_blue: #1A517B
$color_light_blue: #3F9CCD
$color_yellow: #FBC439
$color_black: #2D2D3A
$color_blue: #58B8E1
$color_red: #C54C4D
$color_brown: #483B3B

*
    //border: 0.5px solid black
    user-select: text
    font-size: 12px
    text-align: center
    font-weight: 900
    color: $color_deep_blue
    font-family: "Kosugi Maru",'Noto Sans TC',sans-serif

@mixin size ($w,$h)
    width: $w
    height: $h

html, body
    background-color: rgba(#98D2F2,0.5) !important
    // -webkit-text-size-adjust: none
    // -moz-text-size-adjust: none
    // -ms-text-size-adjust: none
    // text-size-adjust: none
    overflow-y: scroll
    touch-action: pan-y
    -webkit-overflow-scrolling: touch
    width: 100%
    height: 100%
    padding: 0px
    margin: 0px
    background-image: url(svg/bgctransparent_mobile.svg)
    background-repeat: no-repeat
    background-attachment: fixed
    background-position: center
    background-size: cover
.flexbox
    margin: 0 auto
    display: flex
    align-items: center
    justify-content: center
.playerarea
    width: 95%
    margin-bottom: 5px
    padding-top: 5px
    justify-content: space-around
    flex-wrap: wrap
    .yourturnbgc
        border-radius: 5px
        background-color: $color_deep_blue
        border: 3px solid yellow
        

    .userbox
        padding: 3px 0px 3px 0px
        .username
            cursor: pointer
            color: $color_black
            font-weight: 900
            line-height: 60px
            +size(70px,46px)
            text-shadow: 1px 1px $color_white
            background-image: url(svg/user.svg)
            background-repeat: no-repeat
            background-position: center
            background-size: cover
            border: 1px solid transparent
            &:hover
                border: 1px solid #27507A
                border-radius: 5px
        .statusbox
            padding: 1px
            .status
                +size(20px,20px)
                margin: 0px
                border-radius: 50%
        .statusstyle,.statusBan1
            +size(20px,20px)
            border-radius: 50%
            position: relative
            &::before
                content: "✗"
                font-size: 20px
                line-height: 17px
                color: #E93F33
                font-weight: bolder
                text-shadow: 0.5px 0.5px 1px #fff
            &::after
                content: ""
                color: #E93F33
                font-size: 10px
                line-height: 20px
                font-weight: 900
                font-weight: bolder
                position: absolute
                top: -15px
                text-shadow: 0.3px 0.8px 0.5px #fff
        .statusBan2
            &::after
                content: "2"
        .statusBan3
            &::after
                content: "3"
.container
    //border: 2px solid red
    // position: absolute
    // left: 50%
    // top: 50%
    // transform: translateX(-50%) translateY(-50%)
    max-width: 400px
    margin: 0 auto
    padding: 0px !important

    .topcue
        margin-top: 5px
        padding: 5px 0px 5px 0px
        font-size: 9px
        background-color: rgba($color_white,0.3)
        width: 99%
    .stepinfo
        padding: 5px 0px 0px 0px
        font-size: 9px
        background-color: rgba($color_white,0.3)
        margin: 0 auto
        margin: 10px
        .goodUser
            display: block
            +size(60px,60px)
            margin: 0 auto
            background-image: url(svg/role_circle_good.svg)
            background-repeat: no-repeat
            background-position: center
            background-size: cover
            padding-bottom: 10px
            .rolecue
                +size(60px,20px) 
                margin: 0 auto
                font-size: 5px
                display: block
                line-height: 140px
                font-weight: 900
                letter-spacing: 2px
        .badUser
            display: block
            +size(60px,60px)
            margin: 0 auto
            background-image: url(svg/role_circle_bad.svg)
            background-repeat: no-repeat
            background-position: center
            background-size: cover
            padding-bottom: 10px
            .rolecue
                +size(60px,20px) 
                margin: 0 auto
                font-size: 5px
                display: block
                line-height: 140px
                font-weight: 900
                letter-spacing: 2px
        
        ul.stepinfoTxt
            width: 70%
            li
                width: 70%
                list-style: none
                text-align: left
                font-size: 12px

    .trash
        cursor: pointer
        background-color: #F29D33
        border-radius: 5px
        max-width: 110px
        padding: 3px
        margin: 2px
        font-size: 7px
    i.fa-trash
        color: #163D59
        font-weight: 600

    .showarea
        // border: 2px solid green
        width: 99%
        flex-direction: column
        justify-content: flex-start
        margin-bottom: 10px
        font-size: 0px
        box-sizing: border-box
        .line
            display: inline-flex
            justify-content: center
            width: 100%
            .block
                cursor: pointer
                border: 0.1px solid rgba($color_light_blue,0.1)
                +size(55px,33px)
                margin: 0px
                padding: 0px
                &:hover
                    border: 0.1px solid rgba($color_light_blue,0.8)

    .flexbox.handcardarea
        width: 90%
        // min-width: 350px
        margin-bottom: 10px

    .card
        +size(63px,36px)
        border: 0.5px solid transparent
        border-radius: 5px
        background-color: transparent
        cursor: pointer
    i.fa-undo-alt
        +size(30px,30px)
        cursor: pointer
        margin-top: 7px
        font-size: 15px
        margin: 0px auto
        display: flex
        justify-content: center
        align-items: center
        background-color: rgba($color_white,0.5)
        border-radius: 50%
    .redborder
        border: 2px solid $color_red

hr
    margin: 1px !important
.chaticon
    +size(50px,40px)
    background-color: $color_deep_blue
    border-radius: 5px
    cursor: pointer
    position: absolute
    bottom: 5px
    right: 15px
    i.fa-comment
        color: $color_white
        font-size: 25px
        text-align: center
        line-height: 40px
.chatbtn
    +size(50px,40px)
    i.fa-paper-plane
        color: $color_deep_blue
        font-size: 25px
        text-align: center
        line-height: 40px

.chatarea
    width: 100%
    bottom: 0px
    margin: 0 auto
    // position: absolute
    // bottom: 0px
    // right: 0px
    // left: 0px
.chatarea1
    display: none
.chatarea2
    display: block

#messageBody,ul.scrollbox
    margin: 0 auto
    margin: 10px
    overflow: auto
    min-height: 90px
    display: flex
    flex-direction: column
    padding-bottom: 30px
    border-radius: 5px
    background-color: rgba($color_white,0.5)
    li
        width: 100%
        list-style: none
        text-align: left
        font-size: 12px
        overflow-wrap: normal
        &:hover
            background-color: rgba($color_white,0.3)
            border-bottom: 1px solid rgba($color_white,0.8)
        &::before
            content: ''
            display: inline-block
            height: 18px
            width: 15px
            margin: 5px 10px 0px 10px
            background-image: url("svg/icon.svg")
            background-size: cover

.chatinputbox
    background-color: #F7EDDB
    width: 100%
    height: 45px
    padding: 5px
    margin: 0 auto
    bottom: 0px
    display: flex
    justify-content: center
    align-items: center
    .inputChat
        margin: 3px
        font-size: initial
        width: 70%
        height: 30px
        // min-width: 100px
        border: 3px solid $color_deep_blue
        border-radius: 3px
        // color: $color_deep_blue
        background-color: $color_white
        &::placeholder
            color: rgba($color_deep_blue,0.4)

#staticBackdrop
    background-color: rgba($color_red,0.9)
    margin: 0 auto
    .modal-title
        margin: 0 auto
    .modal-content
        width: 100%
        padding: 10px
        border-radius: 10px
        background-color: $color_white
        box-shadow: 1px 2px 5px $color_brown
        color: $color_brown
    .winpic
        width: 50%
        margin: 0 auto
    .btn-close
        position: absolute
        top: 15px
        right: 15px

.yourturnCue
    // position: fixed
    position: absolute
    width: 50%
    // height: 100px
    top: 50%
    left: 50%
    margin-left: -35%
    margin-top: -90px
    border-radius: 10px
    background-color: $color_white
    padding: 10px
    box-shadow: 1px 1px 3px $color_white
    .yourturntxt
        font-size: 23px
        margin: 0 auto  
    .yourturnpic
        width: 55%
        margin: 0 auto  
        //margin: 10px 0px 10px 0px
    .yourturnalert
        margin: 0 auto 
        color: $color_red
        font-weight: 10
        
    .ok
        cursor: pointer
        margin: 0 auto
        +size(35px,20px)
        padding: 10px
        background-color: grey
        color: $color_white
        line-height: 3px
        text-align: center


@media screen and (min-width:400px) //*iPAD=768px*//

@media screen and (min-width:768px) //*iPAD=768px*//
    *
        font-size: 15px
    .playerarea
        width: 100%
        margin-bottom: 20px
    .container
        width: 100%
        margin: 0 auto
        min-width: 768px
        display: flex
        justify-content: space-around
    .container .showarea
        width: 55%
        margin-bottom: 10px
        margin: 0px 10px 0px 10px
    .container .flexbox.handcardarea
        width: 13%
        display: flex
        flex-direction: column
        justify-content: flex-start
        flex-wrap: wrap
        margin: 0px 5px 0px 5px
    .chatarea
        margin: 0px 10px 0px 10px
        width: 32%
        position: relative !important
        height: 600px !important
    .chatarea1
        display: block
    .chatarea2
        display: none
    .container .stepinfo
        margin: 0px !important
        width: 100% !important
    .container .rolecue
        font-size: 12px
    .container #messageBody, ul.scrollbox
        margin: 0px !important
        width: 100% !important
        height: 450px !important
    .chatclose,.chaticon, i.fa-comment
        display: none

    .handcardbox
        margin: 5px
    .container .showarea .line .block //55*33
        width: 82.5px
        height: 49.5px
    .container .card
        +size(94.5px,54px) //63*36
    .container .topcue
        max-width: 470px
        margin-top: 5px

    .container i.fa-trash
        font-size: 16px
        padding: 5px 3px 5px 3px
    .yourturnCue
        width: 40%
        top: 50%
        left: 50%
        margin-left: -20%
        margin-top: -75px
    .yourturnCue .ok
        +size(50px,35px)
        line-height: 15px
        border-radius: 3px

@media screen and (min-width:1000px)
    *
        font-size: 18px
    html, body
        background-image: url(svg/bgctransparent1200.svg)
        background-repeat: no-repeat
        background-attachment: fixed
        background-position: center
        background-size: cover
    .playerarea

    .playerarea .userbox .username
        line-height: 85px
        +size(97.5px,65px) //*75*50//
    .playerarea .userbox .statusbox .status
        +size(30px,30px)
    .playerarea .userbox .statusBan1::before, .playerarea .userbox .statusstyle::before
        font-size: 35px
        line-height: 30px
    .playerarea .userbox .statusBan1::after, .playerarea .userbox .statusstyle::after
        font-size: 15px
        line-height: 25px


    .container
        width: 100%
        min-width: 1000px
        margin: 0px auto !important
        padding: 10px !important
    .container .showarea

    .container .flexbox.handcardarea
        margin: 5px
    .container .showarea .line .block //55*33
        +size(99px,59.4px)
    .container .card //63*36
        +size(113.4px,64.8px)
    .container .topcue
        max-width: 550px
        margin-top: 20px
    .container .stepinfo .userRole
        +size(80px,80px)


    .container #messageBody, ul.scrollbox
        height: 450px !important

@media screen and (min-width:1200px)
    *
        //border: 1px solid
    .playerarea .userbox .username
        line-height: 100px
        +size(112.5px,75px) //*75*50//
    .playerarea .userbox .statusbox .status
        +size (38px,38px) //*20*20//
    .container
        width: 90% !important
        max-width: 1200px !important
        //border: 1px solid
    .container .showarea
        margin: 0px 80px 0px 20px
    .container .flexbox.handcardarea
        margin: 0px
        margin: 0px 20px 0px 0px
        width: 25%
    .chatarea
        max-width: 450px
