@charset "UTF-8";
* {
  user-select: none;
  font-size: 12px;
  text-align: center;
  color: #2D2D3A;
}

html, body {
  background-color: #FFFCEF !important;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.container {
  max-width: 400px;
  margin: 0 auto;
}

.container .flexbox {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .flexbox.playerarea {
  width: 98%;
  display: flex;
  justify-content: space-around;
}

.container .flexbox.playerarea .userbox .score {
  color: #C54C4D;
  margin-bottom: -5px;
  font-weight: 900;
}

.container .flexbox.playerarea .userbox .username {
  cursor: pointer;
  margin-bottom: 12px;
  color: #2D2D3A;
  font-weight: 900;
  text-align: center;
  line-height: 67px;
  text-shadow: 1px 1px #FFFCEF;
  width: 75px;
  height: 55px;
}

.container .flexbox.playerarea .userbox .statusbox {
  border: 1px solid transparent;
}

.container .flexbox.playerarea .userbox .statusbox .status {
  width: 22px;
  height: 22px;
  margin: 1px;
  border-radius: 50%;
}

.container .flexbox.playerarea .userbox .statusBan {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.container .flexbox.playerarea .userbox .statusBan::before {
  content: "✕";
  font-size: 15px;
  text-align: center;
  line-height: 20px;
  transform: rotate(30deg);
  color: rgba(255, 0, 0, 0.8);
  font-weight: bolder;
}

.container .showarea {
  width: 95%;
  flex-direction: column;
  margin-bottom: 10px;
}

.container .showarea .line {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.container .showarea .line .block {
  cursor: pointer;
  background-color: rgba(200, 218, 235, 0.7);
  border: 0.5px solid rgba(26, 81, 123, 0.2);
  width: 63px;
  height: 36px;
  margin: 1.5px;
}

.container .showarea .line .block:hover {
  background-color: rgba(63, 156, 205, 0.5);
}

.container .trash {
  cursor: pointer;
  background-color: orange;
  border-radius: 5px;
  width: 120px;
  padding: 5px;
  margin: 5px;
  font-size: 10px;
}

.container .round-time-bar {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;
  border-radius: 5px;
}

.container .round-time-bar div {
  margin: 0 auto;
  height: 5px;
  border-radius: 5px;
  animation: roundtime calc(var(--duration) * 1s) steps(var(--duration)) forwards;
  transform-origin: left center;
  background: linear-gradient(to bottom, #163D59, #163D59);
}

.container .round-time-bar [data-style="smooth"] div {
  animation: roundtime calc(var(--duration) * 1s) linear forwards;
}

@keyframes roundtime {
  to {
    transform: scaleX(0);
  }
}

.container .cuetxt {
  padding: 10px;
}

.container .handcardarea {
  width: 100%;
  padding: 20px 0px 10px 0px;
}

.container .card {
  width: 63px;
  height: 36px;
  border: 0.5px solid transparent;
  border-radius: 5px;
  background-color: transparent;
  stroke: #FFFCEF;
  stroke-width: 10px;
  cursor: pointer;
}

.container i.fa-undo-alt {
  margin-top: 7px;
  display: block;
  cursor: pointer;
  color: #1A517B;
  font-size: 15px;
}

.container .redborder {
  border: 2px solid red;
}

.chatinputbox {
  background-color: #FFFCEF;
  border-radius: 7px 7px 0px 0px;
  box-shadow: 0px 0px 5px #483B3B;
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  padding: 5px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatinputbox .inputChat, .chatinputbox .chatbtn, .chatinputbox .chatclose {
  margin: 3px;
}

.chatinputbox .inputChat {
  font-size: initial;
  width: 80%;
  height: 30px;
  min-width: 100px;
  border: 1px solid #1A517B;
  border-radius: 3px;
  color: #1A517B;
}

.chatinputbox .chatbtn {
  display: none;
}

.chatinputbox .chatclose {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  right: 0px;
  padding-right: 5px;
}

.chatinputbox .chatclose i.fa-times {
  font-size: 20px;
  line-height: 30px;
  color: #1A517B;
}

.chatinputbox .chatclose i.fa-times:hover {
  text-shadow: 0px 0px 3px grey;
}

.chaticon {
  width: 50px;
  height: 40px;
  background-color: #1A517B;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  bottom: 5px;
  right: 15px;
}

.chaticon i.fa-comment {
  color: #FFFCEF;
  font-size: 25px;
  text-align: center;
  line-height: 40px;
}

ul.scrollbox {
  margin: 0 auto;
  overflow: auto;
  width: 98%;
  height: 100px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 60px;
  border-radius: 5px;
  background-color: #1A517B;
}

ul.scrollbox li {
  width: 100%;
  list-style: none;
  text-align: left;
  font-size: 12px;
  color: #FFFCEF;
}

ul.scrollbox li:hover {
  background-color: rgba(255, 252, 239, 0.3);
  border-bottom: 1px solid rgba(255, 252, 239, 0.8);
}

ul.scrollbox li::before {
  content: '';
  display: inline-block;
  height: 18px;
  width: 15px;
  margin: 5px 10px 0px 10px;
  background-image: url("svg/icon.svg");
  background-size: cover;
}

#staticBackdrop {
  background-color: rgba(197, 76, 77, 0.9);
  margin: 0 auto;
}

#staticBackdrop .modal-title {
  margin: 0 auto;
}

#staticBackdrop .modal-content {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #FFFCEF;
  box-shadow: 1px 2px 5px #483B3B;
  color: #483B3B;
}

#staticBackdrop .winpic {
  width: 50%;
  margin: 0 auto;
}

#staticBackdrop .btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
}

@media screen and (min-width: 768px) {
  * {
    font-size: 18px;
  }
  .container {
    max-width: 760px;
  }
  .container .flexbox.playerarea .userbox .userpic {
    width: 20%;
    min-width: 120px;
  }
  .container .flexbox.playerarea .userbox .username {
    margin-bottom: 23px;
    margin: 0 auto;
    line-height: 110px;
    width: 112.5px;
    height: 82.5px;
  }
  .container .flexbox.playerarea .userbox .statusbox {
    border-radius: 10px;
  }
  .container .flexbox.playerarea .userbox .statusbox .status {
    cursor: pointer;
    width: 38px;
    height: 38px;
    margin: 3px;
    border-radius: 50%;
    padding-top: 10px;
  }
  .container .flexbox.playerarea .statusbox .statushover {
    cursor: pointer;
    width: 38px;
    height: 38px;
  }
  .container .flexbox.playerarea .statusbox .statushover::before {
    content: "✖";
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    color: rgba(250, 81, 123, 0.6);
  }
  .container .flexbox.playerarea .statusbox .statusBan {
    width: 38px;
    height: 38px;
    border-radius: 50%;
  }
  .container .flexbox.playerarea .statusbox .statusBan::before {
    content: "✕";
    font-size: 30px;
    text-align: center;
    transform: rotate(30deg);
    color: rgba(255, 0, 0, 0.8);
    font-weight: bolder;
  }
  .container .showarea {
    margin: 0 auto;
    width: 500px;
    margin-bottom: 20px;
  }
  .container .showarea .line .block {
    width: 94.5px;
    height: 54px;
  }
  .container .round-time-bar {
    margin: 0 auto;
    max-width: 500px;
  }
  .container .handcardarea {
    position: absolute;
    top: 170px;
    right: 0px;
    max-width: 200px;
    display: flex;
    flex-wrap: wrap;
    padding: 3px;
    margin: 3px;
  }
  .handcardbox1, .handcardbox2, .handcardbox3, .handcardbox4, .handcardbox5, .handcardbox6 {
    margin: 10px;
  }
  .container .card {
    width: 94.5px;
    height: 54px;
  }
}
