$color_white: #FFFCEF
$color_deep_blue: #1A517B
$color_light_blue: #3F9CCD
$color_yellow: #FBC439
$color_very_white: #fff
$color_black: #2D2D3A
$color_green: #8CC554
$color_blue: #58B8E1
$color_red: #C54C4D
$color_brown: #483B3B


*
    //border: 1px solid black
    user-select: none
    font-size: 12px
    text-align: center
    color: $color_black

@mixin size ($w,$h)
    width: $w
    height: $h

html, body
    background-color: $color_white !important
    -webkit-text-size-adjust: none
    -moz-text-size-adjust: none
    -ms-text-size-adjust: none
    text-size-adjust: none
    // background-color: $color_black
    width: 100%
    height: 100%
    padding: 0px
    margin: 0px
// body
//     background-image: url(svg/iphonexbgc.svg)
//     background-repeat: no-repeat
//     background-attachment: fixed
//     background-position: center
//     background-size: cover

.container
    // border: 2px solid red
    // position: absolute
    // left: 50%
    // top: 50%
    // transform: translateX(-50%) translateY(-50%)
    max-width: 400px
    margin: 0 auto
    // padding: 3px

    .flexbox
        margin: 0 auto
        display: flex
        align-items: center
        justify-content: center

    .flexbox.playerarea
        width: 98%
        display: flex
        justify-content: space-around
        .userbox
            // border: 2px solid blue
            .score
                color: $color_red
                margin-bottom: -5px
                font-weight: 900
            .username
                // border: 1px solid pink
                cursor: pointer
                margin-bottom: 12px
                color: $color_black
                font-weight: 900
                text-align: center
                line-height: 67px
                text-shadow: 1px 1px $color_white
                +size(75px,55px)

            .statusbox
                border: 1px solid transparent
                .status
                    +size(22px,22px)
                    margin: 1px
                    border-radius: 50%

            // .statushover
            //     cursor: pointer
            //     +size(22px,22px)
            //     border-radius: 50%
            //     &::before
            //         content: "✖"
            //         font-size: 15px
            //         // line-height: 15px
            //         font-weight: bolder
            //         text-align: center
            //         color: rgba(#fa517b,0.6)
            .statusBan
                width: 20px
                height: 20px
                border-radius: 50%
                &::before
                    content: "✕"
                    font-size: 15px
                    text-align: center
                    line-height: 20px
                    transform: rotate(30deg)
                    color: rgba(red,0.8)
                    font-weight: bolder

    .showarea
        // border: 2px solid green
        width: 95%
        flex-direction: column
        margin-bottom: 10px
        .line
            display: inline-flex
            justify-content: center
            width: 100%

            .block
                cursor: pointer
                background-color: rgba(#c8daeb,0.7)
                border: 0.5px solid rgba($color_deep_blue,0.2)
                width: 63px
                height: 36px
                margin: 1.5px
                &:hover
                    background-color: rgba($color_light_blue,0.5)

    .trash
        cursor: pointer
        background-color: orange
        border-radius: 5px
        width: 120px
        padding: 5px
        margin: 5px
        font-size: 10px

    .round-time-bar
        width: 80%
        margin: 0 auto
        overflow: hidden
        background-color: $color_very_white
        border-radius: 5px
    .round-time-bar div
        margin: 0 auto
        height: 5px
        border-radius: 5px
        animation: roundtime calc(var(--duration) * 1s) steps(var(--duration)) forwards
        transform-origin: left center
        background: linear-gradient(to bottom, #163D59, #163D59)
    .round-time-bar [data-style="smooth"] div
        animation: roundtime calc(var(--duration) * 1s) linear forwards

    @keyframes roundtime
        to
            transform: scaleX(0)

    .cuetxt
        padding: 10px
    .handcardarea
        width: 100%
        padding: 20px 0px 10px 0px
        // margin-bottom: 10px

    .card
        width: 63px
        height: 36px
        border: 0.5px solid transparent
        border-radius: 5px
        background-color: transparent
        stroke: $color_white
        stroke-width: 10px
        cursor: pointer
    i.fa-undo-alt
        margin-top: 7px
        display: block
        cursor: pointer
        color: $color_deep_blue
        font-size: 15px
    .redborder
        border: 2px solid red

.chatinputbox
    background-color: $color_white
    // border-top: 1px solid $color_brown
    border-radius: 7px 7px 0px 0px
    box-shadow: 0px 0px 5px $color_brown
    width: 100%
    height: 50px
    position: fixed
    bottom: 0px
    right: 0px
    left: 0px
    padding: 5px
    margin: 0 auto
    display: flex
    justify-content: center
    align-items: center
    .inputChat, .chatbtn,.chatclose
        margin: 3px
    .inputChat
        font-size: initial
        width: 80%
        height: 30px
        min-width: 100px
        border: 1px solid $color_deep_blue
        border-radius: 3px
        color: $color_deep_blue
    .chatbtn
        display: none
        // +size(40px,30px)
        // background-color: $color_deep_blue
        // border-radius: 5px
       
        
    .chatclose
        // border: 1px solid $color_brown
        +size(30px,30px)
        cursor: pointer
        position: absolute
        right: 0px
        padding-right: 5px
        i.fa-times
            font-size: 20px
            line-height: 30px
            color: $color_deep_blue
            &:hover
                text-shadow: 0px 0px 3px grey

.chaticon
    +size(50px,40px)
    background-color: $color_deep_blue
    border-radius: 5px
    cursor: pointer
    position: fixed
    bottom: 5px
    right: 15px
    i.fa-comment
        color: $color_white
        font-size: 25px
        text-align: center
        line-height: 40px



ul.scrollbox
    margin: 0 auto
    overflow: auto
    width: 98%
    height: 100px
    display: flex
    flex-direction: column
    padding: 10px
    margin-bottom: 60px
    border-radius: 5px
    background-color: $color_deep_blue
    
    li
        width: 100%
        list-style: none
        text-align: left
        font-size: 12px
        // margin-bottom: 10px
        color: $color_white
        &:hover
            background-color: rgba($color_white,0.3)
            border-bottom: 1px solid rgba($color_white,0.8)
        &::before
            content: ''
            display: inline-block
            height: 18px
            width: 15px
            margin: 5px 10px 0px 10px
            background-image: url("svg/icon.svg")
            background-size: cover


// .showstatus p
//     margin: 5px
//     // .popup
//     margin: 0 auto
//     width: 95%
//     display: flex
//     flex-direction: column
//     justify-content: space-between
//     padding: 5px
//     .popupok
//         font-size: 20px
//         width: 50px

#staticBackdrop
    background-color: rgba($color_red,0.9)
    margin: 0 auto
    .modal-title
        margin: 0 auto
    .modal-content
        width: 100%
        padding: 10px
        border-radius: 10px
        background-color: $color_white
        box-shadow: 1px 2px 5px $color_brown
        color: $color_brown
    .winpic
        width: 50%
        margin: 0 auto
    .btn-close
        position: absolute
        top: 15px
        right: 15px




@media screen and (min-width:768px) //*iPAD=768px*//
    *
        font-size: 18px
        // border: 1px solid red
    .container
        max-width: 760px
        // background-color: rgba(pink,0.5)
    .container .flexbox.playerarea .userbox .userpic
        width: 20%
        min-width: 120px
    .container .flexbox.playerarea .userbox .username
        margin-bottom: 23px
        margin: 0 auto
        line-height: 110px
        +size(112.5px,82.5px)

    .container .flexbox.playerarea .userbox .statusbox
        // border: 1px solid $color_light_blue
        border-radius: 10px

    .container .flexbox.playerarea .userbox .statusbox .status
        cursor: pointer
        +size (38px,38px)
        margin: 3px
        border-radius: 50%
        padding-top: 10px
    .container .flexbox.playerarea .statusbox .statushover
        cursor: pointer
        +size(38px,38px)
        &::before
            content: "✖"
            font-size: 30px
            font-weight: bolder
            text-align: center
            color: rgba(#fa517b,0.6)

    .container .flexbox.playerarea .statusbox .statusBan
        width: 38px
        height: 38px
        border-radius: 50%
        &::before
            content: "✕"
            font-size: 30px
            text-align: center
            transform: rotate(30deg)
            color: rgba(red,0.8)
            font-weight: bolder

    .container .showarea
        margin: 0 auto
        width: 500px
        margin-bottom: 20px

    .container .showarea .line .block
        width: 94.5px
        height: 54px
    .container .round-time-bar
        margin: 0 auto
        max-width: 500px
    .container .handcardarea
        position: absolute
        top: 170px 
        right: 0px
        max-width: 200px
        display: flex
        flex-wrap: wrap
        padding: 3px
        margin: 3px
    .handcardbox1,.handcardbox2,.handcardbox3,.handcardbox4,.handcardbox5,.handcardbox6
        margin: 10px

    .container .card
        width: 94.5px
        height: 54px
