@charset "UTF-8";
* {
  user-select: text;
  font-size: 12px;
  text-align: center;
  font-weight: 900;
  color: #1A517B;
  font-family: "Kosugi Maru",'Noto Sans TC',sans-serif;
}

html, body {
  background-color: rgba(152, 210, 242, 0.5) !important;
  overflow-y: scroll;
  touch-action: pan-y;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-image: url(svg/bgctransparent_mobile.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.flexbox {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playerarea {
  width: 95%;
  margin-bottom: 5px;
  padding-top: 5px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.playerarea .yourturnbgc {
  border-radius: 5px;
  background-color: #1A517B;
  border: 3px solid yellow;
}

.playerarea .userbox {
  padding: 3px 0px 3px 0px;
}

.playerarea .userbox .username {
  cursor: pointer;
  color: #2D2D3A;
  font-weight: 900;
  line-height: 60px;
  width: 70px;
  height: 46px;
  text-shadow: 1px 1px #FFFCEF;
  background-image: url(svg/user.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid transparent;
}

.playerarea .userbox .username:hover {
  border: 1px solid #27507A;
  border-radius: 5px;
}

.playerarea .userbox .statusbox {
  padding: 1px;
}

.playerarea .userbox .statusbox .status {
  width: 20px;
  height: 20px;
  margin: 0px;
  border-radius: 50%;
}

.playerarea .userbox .statusstyle, .playerarea .userbox .statusBan1 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
}

.playerarea .userbox .statusstyle::before, .playerarea .userbox .statusBan1::before {
  content: "✗";
  font-size: 20px;
  line-height: 17px;
  color: #E93F33;
  font-weight: bolder;
  text-shadow: 0.5px 0.5px 1px #fff;
}

.playerarea .userbox .statusstyle::after, .playerarea .userbox .statusBan1::after {
  content: "";
  color: #E93F33;
  font-size: 10px;
  line-height: 20px;
  font-weight: 900;
  font-weight: bolder;
  position: absolute;
  top: -15px;
  text-shadow: 0.3px 0.8px 0.5px #fff;
}

.playerarea .userbox .statusBan2::after {
  content: "2";
}

.playerarea .userbox .statusBan3::after {
  content: "3";
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 0px !important;
}

.container .topcue {
  margin-top: 5px;
  padding: 5px 0px 5px 0px;
  font-size: 9px;
  background-color: rgba(255, 252, 239, 0.3);
  width: 99%;
}

.container .stepinfo {
  padding: 5px 0px 0px 0px;
  font-size: 9px;
  background-color: rgba(255, 252, 239, 0.3);
  margin: 0 auto;
  margin: 10px;
}

.container .stepinfo .goodUser {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  background-image: url(svg/role_circle_good.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 10px;
}

.container .stepinfo .goodUser .rolecue {
  width: 60px;
  height: 20px;
  margin: 0 auto;
  font-size: 5px;
  display: block;
  line-height: 140px;
  font-weight: 900;
  letter-spacing: 2px;
}

.container .stepinfo .badUser {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  background-image: url(svg/role_circle_bad.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 10px;
}

.container .stepinfo .badUser .rolecue {
  width: 60px;
  height: 20px;
  margin: 0 auto;
  font-size: 5px;
  display: block;
  line-height: 140px;
  font-weight: 900;
  letter-spacing: 2px;
}

.container .stepinfo ul.stepinfoTxt {
  width: 70%;
}

.container .stepinfo ul.stepinfoTxt li {
  width: 70%;
  list-style: none;
  text-align: left;
  font-size: 12px;
}

.container .trash {
  cursor: pointer;
  background-color: #F29D33;
  border-radius: 5px;
  max-width: 110px;
  padding: 3px;
  margin: 2px;
  font-size: 7px;
}

.container i.fa-trash {
  color: #163D59;
  font-weight: 600;
}

.container .showarea {
  width: 99%;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 10px;
  font-size: 0px;
  box-sizing: border-box;
}

.container .showarea .line {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.container .showarea .line .block {
  cursor: pointer;
  border: 0.1px solid rgba(63, 156, 205, 0.1);
  width: 55px;
  height: 33px;
  margin: 0px;
  padding: 0px;
}

.container .showarea .line .block:hover {
  border: 0.1px solid rgba(63, 156, 205, 0.8);
}

.container .flexbox.handcardarea {
  width: 90%;
  margin-bottom: 10px;
}

.container .card {
  width: 63px;
  height: 36px;
  border: 0.5px solid transparent;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}

.container i.fa-undo-alt {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-top: 7px;
  font-size: 15px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 252, 239, 0.5);
  border-radius: 50%;
}

.container .redborder {
  border: 2px solid #C54C4D;
}

hr {
  margin: 1px !important;
}

.chaticon {
  width: 50px;
  height: 40px;
  background-color: #1A517B;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  right: 15px;
}

.chaticon i.fa-comment {
  color: #FFFCEF;
  font-size: 25px;
  text-align: center;
  line-height: 40px;
}

.chatbtn {
  width: 50px;
  height: 40px;
}

.chatbtn i.fa-paper-plane {
  color: #1A517B;
  font-size: 25px;
  text-align: center;
  line-height: 40px;
}

.chatarea {
  width: 100%;
  bottom: 0px;
  margin: 0 auto;
}

.chatarea1 {
  display: none;
}

.chatarea2 {
  display: block;
}

#messageBody, ul.scrollbox {
  margin: 0 auto;
  margin: 10px;
  overflow: auto;
  min-height: 90px;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  padding-left: 10px;
  border-radius: 5px;
  background-color: rgba(255, 252, 239, 0.5);
}

#messageBody li, ul.scrollbox li {
  width: 100%;
  list-style: none;
  text-align: left;
  font-size: 12px;
  overflow-wrap: normal;
}

#messageBody li:hover, ul.scrollbox li:hover {
  background-color: rgba(255, 252, 239, 0.3);
  border-bottom: 1px solid rgba(255, 252, 239, 0.8);
}

#messageBody li::before, ul.scrollbox li::before {
  content: '';
  display: inline-block;
  height: 18px;
  width: 15px;
  margin: 5px 10px 0px 10px;
  background-image: url("svg/icon.svg");
  background-size: cover;
}

.chatinputbox {
  background-color: #F7EDDB;
  width: 100%;
  height: 45px;
  padding: 5px;
  margin: 0 auto;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatinputbox .inputChat {
  margin: 3px;
  font-size: initial;
  width: 70%;
  height: 30px;
  border: 3px solid #1A517B;
  border-radius: 3px;
  background-color: #FFFCEF;
}

.chatinputbox .inputChat::placeholder {
  color: rgba(26, 81, 123, 0.4);
}

#staticBackdrop {
  background-color: rgba(197, 76, 77, 0.9);
  margin: 0 auto;
}

#staticBackdrop .modal-title {
  margin: 0 auto;
}

#staticBackdrop .modal-content {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #FFFCEF;
  box-shadow: 1px 2px 5px #483B3B;
  color: #483B3B;
}

#staticBackdrop .winpic {
  width: 50%;
  margin: 0 auto;
}

#staticBackdrop .btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
}

.yourturnCue {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  margin-left: -35%;
  margin-top: -90px;
  border-radius: 10px;
  background-color: #FFFCEF;
  padding: 10px;
  box-shadow: 1px 1px 3px #FFFCEF;
}

.yourturnCue .yourturntxt {
  font-size: 23px;
  margin: 0 auto;
}

.yourturnCue .yourturnpic {
  width: 55%;
  margin: 0 auto;
}

.yourturnCue .yourturnalert {
  margin: 0 auto;
  color: #C54C4D;
  font-weight: 10;
}

.yourturnCue .ok {
  cursor: pointer;
  margin: 0 auto;
  width: 35px;
  height: 20px;
  padding: 10px;
  background-color: grey;
  color: #FFFCEF;
  line-height: 3px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  * {
    font-size: 15px;
  }
  .playerarea {
    width: 100%;
    margin-bottom: 20px;
  }
  .container {
    width: 100%;
    margin: 0 auto;
    min-width: 768px;
    display: flex;
    justify-content: space-around;
  }
  .container .showarea {
    width: 55%;
    margin-bottom: 10px;
    margin: 0px 10px 0px 10px;
  }
  .container .flexbox.handcardarea {
    width: 13%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0px 5px 0px 5px;
  }
  .chatarea {
    margin: 0px 10px 0px 10px;
    width: 32%;
    position: relative !important;
    height: 600px !important;
  }
  .chatarea1 {
    display: block;
  }
  .chatarea2 {
    display: none;
  }
  .container .stepinfo {
    margin: 0px !important;
    width: 100% !important;
  }
  .container .rolecue {
    font-size: 12px;
  }
  .container #messageBody, ul.scrollbox {
    margin: 0px !important;
    width: 100% !important;
    height: 450px !important;
  }
  .chatclose, .chaticon, i.fa-comment {
    display: none;
  }
  .handcardbox {
    margin: 5px;
  }
  .container .showarea .line .block {
    width: 82.5px;
    height: 49.5px;
  }
  .container .card {
    width: 94.5px;
    height: 54px;
  }
  .container .topcue {
    max-width: 470px;
    margin-top: 5px;
  }
  .container i.fa-trash {
    font-size: 16px;
    padding: 5px 3px 5px 3px;
  }
  .yourturnCue {
    width: 40%;
    top: 50%;
    left: 50%;
    margin-left: -20%;
    margin-top: -75px;
  }
  .yourturnCue .ok {
    width: 50px;
    height: 35px;
    line-height: 15px;
    border-radius: 3px;
  }
}

@media screen and (min-width: 1000px) {
  * {
    font-size: 18px;
  }
  html, body {
    background-image: url(svg/bgctransparent1200.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  .playerarea .userbox .username {
    line-height: 85px;
    width: 97.5px;
    height: 65px;
  }
  .playerarea .userbox .statusbox .status {
    width: 30px;
    height: 30px;
  }
  .playerarea .userbox .statusBan1::before, .playerarea .userbox .statusstyle::before {
    font-size: 35px;
    line-height: 30px;
  }
  .playerarea .userbox .statusBan1::after, .playerarea .userbox .statusstyle::after {
    font-size: 15px;
    line-height: 25px;
  }
  .container {
    width: 100%;
    min-width: 1000px;
    margin: 0px auto !important;
    padding: 10px !important;
  }
  .container .flexbox.handcardarea {
    margin: 5px;
  }
  .container .showarea .line .block {
    width: 99px;
    height: 59.4px;
  }
  .container .card {
    width: 113.4px;
    height: 64.8px;
  }
  .container .topcue {
    max-width: 550px;
    margin-top: 20px;
  }
  .container .stepinfo .userRole {
    width: 80px;
    height: 80px;
  }
  .container #messageBody, ul.scrollbox {
    height: 450px !important;
  }
}

@media screen and (min-width: 1200px) {
  .playerarea .userbox .username {
    line-height: 100px;
    width: 112.5px;
    height: 75px;
  }
  .playerarea .userbox .statusbox .status {
    width: 38px;
    height: 38px;
  }
  .container {
    width: 90% !important;
    max-width: 1200px !important;
  }
  .container .showarea {
    margin: 0px 80px 0px 20px;
  }
  .container .flexbox.handcardarea {
    margin: 0px;
    margin: 0px 20px 0px 0px;
    width: 25%;
  }
  .chatarea {
    max-width: 450px;
  }
}
