$color_white: #FFFCEF
$color_deep_blue: #1A517B
$color_light_blue: #3F9CCD
$color_yellow: #FBC439
$color_very_white: #fff
$color_black: #2D2D3A
$color_green: #8CC554
$color_blue: #58B8E1
$color_red: #C54C4D
$color_brown: #483B3B
*
    //border: 1px solid pink
    user-select: text
    font-size: 15px
    text-align: center
    margin: 0 auto
    font-family: "Kosugi Maru",'Noto Sans TC',sans-serif


html,body
    background-color: $color_white !important
    width: 100%
    height: 100%
    padding: 0px
    margin: 0px

.container
    background-color: $color_white
    //border: 2px solid red
    // position: absolute
    // left: 50%
    // top: 50%
    // transform: translateX(-50%) translateY(-50%)
    max-width: 400px
    width: 70%
    margin: 0 auto
    padding: 3px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    img.rankpic
        width: 20%
        margin: 10px
.table
    width: 70% !important
    margin: 30px !important
.logo
    width: 30%

.loginBtn
    cursor: pointer
    position: absolute
    top: 20px
    right: 20px
    width: 100px
    border-radius: 20px
    padding: 8px
    background-color: $color_deep_blue
    color: $color_white
    &:hover
        background-color: $color_light_blue

#nickname, #password
    margin: 5px
    // border-radius: 5px
    width: 100%
    border-radius: 5px
    border: 2px solid $color_brown !important
    background-color: transparent
    padding: 5px
    color: $color_green
    &:focus
        outline: 0
        -webkit-box-shadow: none !important
        -moz-box-shadow: none !important
        box-shadow: none !important


#staticBackdrop
    background-color: rgba($color_light_blue,0.2)
    margin: 0 auto
    .modal-body
        padding: 10px
    .modal-title
        margin: 0 auto
    .modal-content
        margin: 0 auto
        margin-top: 120px
        width: 80%
        padding: 10px
        border-radius: 10px
        background-color: $color_white
        box-shadow: 1px 2px 5px $color_brown
        color: $color_brown
    .modal-footer
        padding: 10px
    .winpic
        width: 50%
        margin: 0 auto
    .btn-close
        position: absolute
        top: 20px
        right: 20px
    .btn,.loginStyle
        margin: 0 auto
        margin-top: 8px
        cursor: pointer
        width: 100px
        border-radius: 20px
        padding: 8px
        background-color: $color_deep_blue
        color: $color_white
        &:hover
            background-color: $color_light_blue
    .sign
        background-color: $color_red
        width: 70px
        border-radius: 10px
        padding: 5px
        margin: 0 auto
        &:hover
            background-color: #DD6952
    .loginStyle
        width: 200px
