.container
    border: 2px solid pink
    padding: 15px
    .svgbox
        background-color: orange
        width: 310px
        height: 190px
    // svg
    //     width: 300px
    //     border: solid 2px

    svg.card
        width: 100px
        border: solid 1px
        stroke: rgba(orange,0.3)
        stroke-width: 10px 
            
    // #pic2
    //     stroke: transparent
    //     stroke-width: 3px
        