@charset "UTF-8";
* {
  user-select: none;
  font-size: 12px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "HanaMinA",花園明朝體,"PingFang TC", 黑體-繁, "Heiti TC", 蘋果儷中黑, "Apple LiGothic Medium", 微軟正黑體, "Microsoft JhengHei", Roboto, sans-serif;
}

html, body {
  background-color: #FFFCEF !important;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#homeicon {
  color: #2974AA;
  font-weight: 900;
  font-size: 20px;
  background-color: #F8EDDB;
  padding: 10px;
  border-radius: 8px 8px 0px 0px;
  margin: 15px;
  position: absolute;
  top: 0px;
  left: 0px;
}

#homeicon:hover {
  border-bottom: 2px solid #483B3B;
}

.btn-primary {
  font-size: 13px !important;
  cursor: pointer;
  background-color: #3F9CCD !important;
  padding: 10px !important;
  border-radius: 5px !important;
  border: none !important;
  margin: 5px;
}

.btn-share {
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
  margin: 15px;
}

.btn-share i.fa-share-alt {
  font-size: 15px;
}

h4 {
  margin: 15px;
  padding: 10px;
  font-weight: 900;
  color: #2974AA;
  font-weight: 900;
  font-size: 20px;
  background-color: #F8EDDB;
  font-family: "HanaMinA",花園明朝體;
}

.fade {
  background-color: rgba(255, 252, 239, 0.8);
}

.fade .modal-content {
  padding: 10px;
  border-radius: 10px;
  background-color: #FFFCEF;
  box-shadow: 1px 2px 5px #483B3B;
  color: #483B3B;
}

.fade .modal-content .btn-close {
  position: absolute;
  right: 15px;
  top: 15px;
}

.fade .modal-content img.welcome {
  margin-top: 20px;
  width: 60%;
  min-width: 100px;
}

.fade .modal-content #url {
  background-color: #FFFCEF;
  margin: 10px 0px 10px 0px;
  width: 80%;
  padding: 5px;
  border-radius: 5px;
  border: 0.5px solid rgba(72, 59, 59, 0.5);
}

.fade .modal-content #url:hover {
  box-shadow: 1px 1.5px 3px rgba(72, 59, 59, 0.5);
}

.fade .modal-content .copybtn {
  margin: 10px 0px 10px 0px;
  background-color: #1A517B;
  color: #FFFCEF;
  padding: 8px;
  border-radius: 5px;
}

.container {
  background-color: #FFFCEF;
  border: 1px solid;
  max-width: 400px;
  margin: 0 auto;
  padding: 3px;
}

.container .playerarea {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}

.container .playerarea .user {
  width: 100px;
  height: 70px;
  font-size: 16px;
  text-align: center;
  line-height: 90px;
  margin: 10px;
  font-weight: 900;
  color: #483B3B;
  text-shadow: 1px 1px #FFFCEF;
}

.container img.iconrotate {
  width: 250px;
}

#staticBackdrop {
  background-color: #1A517B;
}

#staticBackdrop .modal-content {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #FFFCEF;
  box-shadow: 1px 2px 5px #483B3B;
  color: #483B3B;
}

#staticBackdrop .modal-content img.role {
  width: 180px;
}
