$color_white: #FFFCEF
$color_deep_blue: #1A517B
$color_light_blue: #3F9CCD
$color_yellow: #FBC439
$color_very_white: #fff
$color_black: #2D2D3A
$color_green: #8CC554
$color_blue: #58B8E1
$color_red: #C54C4D
$color_brown: #483B3B
*
    //border: 1px solid pink
    user-select: none
    font-size: 12px
    text-align: center
    align-items: center
    justify-content: center
    font-family: "HanaMinA",花園明朝體,"PingFang TC", 黑體-繁, "Heiti TC", 蘋果儷中黑, "Apple LiGothic Medium", 微軟正黑體, "Microsoft JhengHei", Roboto, sans-serif


html,body
    background-color: $color_white !important
    width: 100%
    height: 100%
    padding: 0px
    margin: 0px
#homeicon
    color: #2974AA
    font-weight: 900
    font-size: 20px
    background-color: #F8EDDB
    padding: 10px
    border-radius: 8px 8px 0px 0px
    margin: 15px
    position: absolute
    top: 0px
    left: 0px
    &:hover
        border-bottom: 2px solid $color_brown

.btn-primary
    font-size: 13px !important
    cursor: pointer
    background-color: $color_light_blue !important
    padding: 10px !important
    border-radius: 5px !important
    border: none !important
    margin: 5px
.btn-share
    width: 40px
    height: 40px
    border-radius: 50% !important
    margin: 15px

    i.fa-share-alt
        font-size: 15px
h4
    margin: 15px
    padding: 10px
    font-weight: 900
    color: #2974AA
    font-weight: 900
    font-size: 20px
    background-color: #F8EDDB
    font-family: "HanaMinA",花園明朝體


.fade
    background-color: rgba($color_white,0.8)
    .modal-content
        padding: 10px
        border-radius: 10px
        background-color: $color_white
        box-shadow: 1px 2px 5px $color_brown
        color: $color_brown
        .btn-close
            position: absolute
            right: 15px
            top: 15px
        img.welcome
            margin-top: 20px
            width: 60%
            min-width: 100px
        #url
            background-color: $color_white
            margin: 10px 0px 10px 0px
            width: 80%
            padding: 5px
            border-radius: 5px
            border: 0.5px solid rgba($color_brown,0.5)
            &:hover
                box-shadow: 1px 1.5px 3px rgba($color_brown,0.5)
        .copybtn
            margin: 10px 0px 10px 0px
            background-color: $color_deep_blue
            color: $color_white
            padding: 8px
            border-radius: 5px

.container
    background-color: $color_white
    border: 1px solid
    // position: absolute
    // left: 50%
    // top: 50%
    // transform: translateX(-50%) translateY(-50%)
    max-width: 400px
    margin: 0 auto
    padding: 3px

    .playerarea
        width: 90%
        display: flex
        flex-wrap: wrap
        .user
            width: 100px
            height: 70px
            font-size: 16px
            text-align: center
            line-height: 90px
            margin: 10px
            font-weight: 900
            color: $color_brown
            text-shadow: 1px 1px $color_white
    img.iconrotate
        width: 250px

#staticBackdrop
    background-color: $color_deep_blue
    .modal-content
        width: 100%
        padding: 10px
        border-radius: 10px
        background-color: $color_white
        box-shadow: 1px 2px 5px $color_brown
        color: $color_brown
        img.role
            width: 180px
